body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #69506d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watermelon {
    width: 320px;
    height: 160px;
    background-color: #fd6c64;
    border: 20px solid #5af5b6;
    border-top: none;
    border-radius: 0 0 200px 200px;
}

span {
    width: 10px;
    height: 10px;
    background-color: #262626;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
}

span:nth-child(7),
span:nth-child(12),
span:nth-child(13),
span:nth-child(14) {
    opacity: 0;

}